### Imports

In [2]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
train = pd.read_csv('./datasets/train.csv')
train.head()

         date    wp1    wp2    wp3    wp4    wp5    wp6    wp7
0  2009070100  0.045  0.233  0.494  0.105  0.056  0.118  0.051
1  2009070101  0.085  0.249  0.257  0.105  0.066  0.066  0.051
2  2009070102  0.020  0.175  0.178  0.033  0.015  0.026  0.000
3  2009070103  0.060  0.085  0.109  0.022  0.010  0.013  0.000
4  2009070104  0.045  0.032  0.079  0.039  0.010  0.000  0.000

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18757 entries, 0 to 18756
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    18757 non-null  int64
 1   wp1     18757 non-null  float64
 2   wp2     18757 non-null  float64
 3   wp3     18757 non-null  float64
 4   wp4     18757 non-null  float64
 5   wp5     18757 non-null  float64
 6   wp6     18757 non-null  float64
 7   wp7     18757 non-null  float64
dtypes: float64(7), int64(1)
memory usage: 1.1 MB

In [5]:
train['date'] = pd.to_datetime(train['date'], format='%Y%m%d%H')

In [6]:
train.set_index('date', inplace=True)

In [7]:
train.describe().T

       count      mean       std  min    25%    50%    75%    max
wp1  18757.0  0.252388  0.246381  0.0  0.050  0.175  0.381  0.947
wp2  18757.0  0.265983  0.273205  0.0  0.042  0.164  0.423  0.989
wp3  18757.0  0.334571  0.318636  0.0  0.069  0.217  0.563  0.978
wp4  18757.0  0.286173  0.295069  0.0  0.022  0.182  0.474  0.992
wp5  18757.0  0.272584  0.294221  0.0  0.040  0.157  0.415  0.966
wp6  18757.0  0.286774  0.283023  0.0  0.053  0.184  0.461  0.974
wp7  18757.0  0.290542  0.305272  0.0  0.025  0.177  0.505  0.960

In [8]:
# plot gaps in the time series data

# resample so missing hours are filled with NaN (including the gap after the series finished)
ix = pd.DatetimeIndex(start=train.index[0], end=train.index[-1]+pd.Timedelta(hours=48), freq='H')
no_gaps_df = train.copy().reindex(ix)

# create boolean for gap or no gap
gaps = no_gaps_df.isna().astype(int)

# plot gaps
fig, ax = plt.subplots(7, 1, figsize=(12, 10))
for n in range(7):
    column = 'wp'+str(n + 1)
    ax[n].plot(gaps.index, gaps[column], lw = 1)
    ax[n].set_title('Power ouput - wind farm '+str(n + 1))
plt.tight_layout();

TypeError: __new__() got an unexpected keyword argument 'start'